article {
  border: 4px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin-top: 2em;
  margin-bottom: 3em;
  /* box-shadow: 12px 12px 2px 1px rgba(55, 44, 182, 0.2); */ 
}
article:hover {
  box-shadow: 12px 12px 2px 1px rgba(55, 44, 182, 0.2);
}

article header {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

section article header div {
  display: flex;
  align-items: center;
}

article header .head1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article.tweet header #usertag {
  margin-right: 1.5em;
}

header i {
  margin-right: 10px;
  margin-left: 1.5em;
}

article p {
  display: flex;
  align-self: center;
  word-break: break-word;
  
}

article footer {
  width: 90%;
  display: flex;
  align-content: center;
  align-self: center;
  border-top: 4px solid black;
}

div #contentBuffer {
  margin-left: 1em;
  margin-right: 1em;
}

article footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article footer .footerAlign {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article footer i{
  display: flex;
  justify-content: right;
}


article footer i:hover{
  color: rgb(20, 193, 147)
  }


  @media only screen and (min-width: 1024px) {
    section #tweets-container {
    display: flex;
    align-self: center;
    align-items: center;
    width: 70vw;
    margin-left: 1em;
    margin-right: 1em;
    scroll-snap-align: center;
    }

    #tweets-container {
      width: 60vw;
    }
  }

  